* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 50px;
}

#upload-form {
    margin: 10px;
}

#choose-files {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#choose-old-file {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#choose-new-file {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#upload-files {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#upload {
    padding: 8px 12px;
    border: 2px solid black;
    border-radius: 10px;
}

#container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    /* height: calc(100vh - 140px); */
}

.responsive-iframe {
    width: 45%;
    height: 100%;
    border: 2px solid black;
    border-radius: 10px;
}